.hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}

.hero-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-text {
    max-width: 600px;
}

.hero-text h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    color: white;
}

.hero-text p {
    font-size: 1.2rem;
    color: #999;
    margin-bottom: 20px;
}

.hero-image img {
    max-width: 100%;
    height: auto;
    margin-left: 155px;
    width: 550px;
    height: 550px;
}

.hero-image-safety img {
    max-width: 100%;
    height: auto;
    margin-left: 150px;
    width: 500px;
    height: 500px;
}

.hero-text-protect {
    max-width: 1200px;
    text-align: center;
    margin: 0 auto;
}

.hero-text-protect h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    color: white;
}

.hero-text-protect p {
    font-size: 1.2rem;
    color: #999;
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .hero-section {
        flex-direction: column;
        text-align: center;
        padding: 20px;
    }

    .hero-text h1 {
        font-size: 2rem;
    }

    .hero-text p {
        font-size: 1rem;
    }

    .hero-image {
        display: none;
    }
    .hero-image-safety {
        display: none;
    }
}

@media (max-width: 480px) {
    .hero-text h1 {
        font-size: 1.5rem;
    }

    .hero-text p {
        font-size: 0.9rem;
    }
}