.review-grid {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.review-card {
    background-color: #171717;
    border: 1px solid rgba(255, 255, 255, 0.04);
    border-radius: 15px;
    padding: 30px;
    width: calc(20% - 15px);
    text-align: left;
    transition: transform 0.3s, box-shadow 0.3s;
}

.review-card:hover {
    transform: translateY(-5px);
}

.review-title {
    font-size: 1.6rem;
    font-weight: 700;
    color: white;
    margin-bottom: 20px;
}

.review-author {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.review-author i {
    margin-right: 10px;
}

.review-tariff {
    font-size: 14px;
    color: #888;
    margin-bottom: 15px;
}

.review-divider {
    height: 1px;
    background-color: #333;
    margin-bottom: 15px;
}

.review-text {
    font-size: 16px;
    color: #ddd;
    margin-bottom: 15px;
}

@media (max-width: 768px) {
    .review-title {
        font-size: 1.5rem;
    }

    .review-card {
        flex: 1 1 100%;
        max-width: none;
        margin-bottom: 20px;
    }
}

@media (max-width: 480px) {
    .review-title {
        font-size: 1.2rem;
    }

    .review-text {
        font-size: 0.9rem;
    }
}